# Checks the repo builds correctly once the bootstrap & init template has run...

name: Test Scripts

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-clone:
    strategy:
      matrix:
        serviceName: [ example-service, diff-service ]
        serviceClass: [ ExampleServiceDescriptor, DiffServiceDescriptor ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Run boostrap script
        run: ./bootstrap.sh
      - name: Check compiles & runs
        run: ./gradlew check
      - name: Run init script
        run: |
          echo serviceName=${{ matrix.serviceName }}
          echo serviceClass=${{ matrix.serviceClass }}
          ./init_headless.sh \
            --service-name ${{ matrix.serviceName }} \
            --service-class ${{ matrix.serviceClass }}
      - name: Check compiles & runs
        run: ./gradlew check
