# Checks the repo builds correctly once the bootstrap & init template has run...

name: Test Scripts

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-scripts:
    if: ${{ github.repository == 'creek-service/aggregate-template' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install zsh
        run: sudo apt install zsh
      - name: Set up Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          gradle-home-cache-cleanup: true
      - name: Run boostrap script
        shell: zsh {0}
        run: ./.creek/bootstrap.sh "some-User-name/a_Nother-REpo_name" "some-User-name"
      - name: Check compiles & runs
        run: ./gradlew format check
      - name: Clean
        run: ./gradlew clean
      - name: Run clean_up script
        shell: zsh {0}
        run: ./.creek/clean_up.sh
      - name: Check compiles & runs
        run:  ./gradlew format check
      - name: Clean
        run: ./gradlew clean
      - name: Add service
        shell: zsh {0}
        run: ./.creek/add_service.sh first-service
      - name: Check compiles & runs
        run: ./gradlew format check
      - name: Clean
        run: ./gradlew clean
      - name: Add 2nd service
        shell: zsh {0}
        run: ./.creek/add_service.sh second-service
      - name: Check compiles & runs
        run: ./gradlew format check
